vqsr/*
ancestry/*
bwa_bam/*
bwa_reports/*
crosscheck/*
cutadapt_logs/*
gathered_genotyped_gvcf/*
genesis/*
gatk_reports/*
genomics_db/*
genotyped_gvcfs/*
haplotype_caller/*
logs/*
multiqc_data/*
*.html
relatedness/*
samtools_reports/*
vqsr/*
